<div id='modal-login'>
  <div class='form-group' id='login-style'>
    <h3 class='form-group'>Login</h3>
    <%= form_for :session, url: sessions_path do |f| %>
      <div class='form-group'><%= f.email_field :email, placeholder: 'Email', autofocus: true, class: 'form-control' %></div>
      <div class='form-group'><%= f.password_field :password, placeholder: 'Password', class: 'form-control' %></div>
      <div class='form-group'>
        <%= f.submit 'Login', class: 'btn btn-default', id: 'pad-button' %>
        <button type='button' class='btn btn-default' aria-label='Left Align' id='login-close'>
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
