<h3>Login</h3>
<%= form_for :session, url: sessions_path do |f| %>
<div><%= f.email_field :email, placeholder: 'Email', autofocus: true %></div>
<div><%= f.password_field :password, placeholder: 'Password' %></div>
<div><%= f.submit 'Login' %></div>
<% end %>
