<%= form_for :user, url: users_path do |f| %>
  <%= f.text_field :username, placeholder: 'Username', autofocus: true %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.submit %>
<% end %>
