<div class='votes'>
  <% if current_user %>
    <% unless does_user_vote_exist(find_vote(tutorial, current_user)) %>
      <span class='vote-hand-up' style='display:inline'><%= link_to ("<i class='fa fa-hand-o-up' aria-hidden='true'></i>").html_safe, votes_path(value: 1, tutorial_id: tutorial.id), method: :create %></span>
      <span class='vote-hand-up-blank' style='display:none'><i class='fa fa-hand-o-up' aria-hidden='true'></i></span>
    <% else %>
      <span class='vote-hand-up' style='display:none'><%= link_to ("<i class='fa fa-hand-o-up' aria-hidden='true'></i>").html_safe, votes_path(value: 1, tutorial_id: tutorial.id), method: :create %></span>
      <span class='vote-hand-up-blank' style='display:inline'><i class='fa fa-hand-o-up' aria-hidden='true'></i></span>
    <% end %>
    <span id='<%= tutorial.id %>'><%= votes_display(tutorial.votes) { |vote| vote.value } %></span>
    <% if does_user_vote_exist(find_vote(tutorial, current_user)) %>
      <span class='vote-hand-down' style='display:inline'><%= link_to ("<i class='fa fa-hand-o-down' aria-hidden='true'></i>").html_safe, find_vote(tutorial, current_user), method: :delete, url: votes_path(find_vote_id(tutorial, current_user)) %></span>
      <span class='vote-hand-down-blank' style='display:none'><i class='fa fa-hand-o-down' aria-hidden='true'></i></span>
    <% else %>
      <span class='vote-hand-down' style='display:none'><%= link_to ("<i class='fa fa-hand-o-down' aria-hidden='true'></i>").html_safe, find_vote(tutorial, current_user), method: :delete, url: votes_path(find_vote_id(tutorial, current_user)) %></span>
      <span class='vote-hand-down-blank' style='display:inline'><i class='fa fa-hand-o-down' aria-hidden='true'></i></span>
    <% end %>
  <% else %>
    <i class='fa fa-hand-o-up' aria-hidden='true'></i>
    <span id='<%= tutorial.id %>'><%= display_votes(tutorial.votes) %></span>
    <i class='fa fa-hand-o-down' aria-hidden='true'></i>
  <% end %>
</div>
