<div class='index'>
<%= link_to 'Submit a Tutorial', new_tutorial_path %>

<% @tutorials.each do |tutorial| %>

    <div class='row' id='tutorial-list'>
      <a href='<%= tutorial.link %>' target='_blank'>
        <div class='col-md-1'>
          <img src="<%= tutorial.thumbnail %>" height="25" width="25" id='loading-thumbnail'>
        </div>
        <div class='col-md-2'>
          <div class='small-text' id='web-title'><%= tutorial.web_title %></div>
        </div>
      </a>
      <div class='tutorial'>
        <div class='col-md-9'>
          <h5>
            <%= link_to tutorial.title, tutorial, url: tutorial_path(tutorial), id: 'tutorial-title' %>
          </h5>
          <div><%= tutorial.body %></div>
          <div class='small-text'><%= tutorial.link %></div>
          <div class='.test' style='display:inline;'><%= render partial: '/tutorials/vote_hand', locals: { tutorial: tutorial } %></div>
        </div>
      </div>
    </div>

<% end %>
</div>
