<% if current_user %>
  <%= form_for :tutorial, url: tutorials_path do |f|  %>
    <div>
      <%= f.text_field :title, placeholder: 'title', autofocus: true %>
    </div>
    <div>
      <%= f.text_field :link, placeholder: "tutorial's link", id: 'tutorial-link' %>
    </div>
    <div>
      <%= f.text_area :body, placeholder: 'description' %>
    </div>
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div>
      <%= f.submit :submit %>
    </div>
  <% end %>
<% end %>
