<img src="<%= @tutorial.thumbnail %>">
<%= @tutorial.web_title %>
<%= @tutorial.title %>
<%= @tutorial.link %>
<%= @tutorial.body %>
<% count = 0 %>
<% @tutorial.comments.each do |comment| %>
  <% comment.recursive_comments %>
  <div id='<%= comment.id %>' class='<%= count %>'>
    <div><%= comment.info[:name] %></div>
    <div><%= comment.info[:body] %></div>
    <div><%= comment.info[:parent] %></div>
  </div>
<% end %>
<div>
  <% @tutorial.comments.each do |comment| %>
    <%= comment.first_comment %>
  <% end %>
</div>
<!--
id's will be css id's and then if a parent_id is equal to any of those above id's then keep it in order but nest it
under the parent which can be distigueshed by how far right it is. So if it's parent is equal to a certain id
then give it a class which is incrementing to make it go left on the screen.
-->

<!--
Order by create time but put all children in an array?
-->
