/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import '_bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.container-fluid {
  margin-left: inherit;
  margin-right: inherit;
}

#brand-logo {
  font-size: -webkit-xxx-large;
  font-size: -mozkit-xxx-large;
}

#navigation {
  padding-right: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #0275D8;
  margin-top: 1em;
}

#custom-footer{
  text-align: center;
  margin-top: 1.37em;
}

#modal-login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

// Login stuff
#login-style {
  background-color: #0275D8;
  border-radius: 0.5em;
  padding: 1em 1em 1em 1em;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 10%;
}

#pad-button {
  margin-bottom: 1px;
}

#login-close {
  margin-bottom: 1px;
}
//

#web-title{
  word-wrap: break-word;
}

.small-text {
  font-size: small;
}

.col-md-1 {
  padding-right: 0;
  margin-right: inherit;
}

.col-md-2 {
  padding-left: 0;
}

.col-md-9 {
  padding-bottom: 1em;
}

#personal-website {
  color: #124E40;
}

#tutorial-title {
  color: #008B8B;
  margin-right: 2em;
}

#tutorial-list {
  margin-bottom: 1em;
}

// .vote-hand a {
//   text-decoration: none;
// }

#loading-thumbnail {
  background-image: url('/ellipsis.gif');
}
