<div class='new-vote'>
  <%= form_for :vote, url: votes_path, method: :post, action: :create do |f| %>
    <%= f.hidden_field :tutorial_id, value: tutorial.id || nil %>
    <%= f.submit %>
  <% end %>
</div>
