<!DOCTYPE html>
<html>
  <head>
    <title>TutorialsGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row' id='header'>
        <div class='col-md-10'>
          <div class='page-header'>
            <h1><%= link_to  "TutorialsGuide", root_url, id: 'brand-logo'%><small>  A site dedicated to rating online tutorials.</small></h1>
          </div>
        </div>
        <div class='col-md-2' id='navigation'>
          <ul class='breadcrumb' >
            <%= render '/sessions/login' %>
          </ul>
        </div>
      </div>
    </div>

  <main>
    <div class='container'>
      <%= render 'sessions/new' %> <!--modal -->
      <%= yield %>
    </div>
  </main>

  <footer class='footer'>
    <div id='custom-footer'>
      &copy TutorialsGuide 2016 - Logan Bresnahan - <a href='http://loganbresnahan.com' target='_blank' id='personal-website'>loganbresnahan.com</a>
    </div>
  </footer>

  </body>
</html>
